input[type="checkbox"]{
  position: absolute;
  left: -9999px;
}

.modal-name {
  font-size: 42px;
}

.modal-description {
  font-size: 18px;
}

.modal-price {
  font-weight: bold;
  font-size: 42px;
  color: rgb(68, 68, 68);
}